.DS_Store
.gitignore
composer.phar
*.log
migrations
public/theme
public/swagger
private/docker-builder/image
private/bin
private/codecover
private/deployer
private/document
private/swagger
private/tutorial
private/tutorial-src
.git
.phan
.sami
.vscode
.gitignore
.editorconfig
env.php