{% set ProfileController = 'Project\\Customer\\Front\\Controller\\Customer\\ProfileController' %}
<main class="main lower-mypage">

  <div class="container col1">
    <div class="step-section mb-0">
      <div class="step-wrapper">

        <h3 class="heading-center">{{'Your password was changed.' | tf}}</h3>

      </div>
    </div>
  </div>

  <div class="btn-container">

    <a class="button button-contact" href="{{ self.Router().linkto(ProfileController) }}">{{'My page TOP'|tf}}</a>

  </div>

</main>