{% set ReservationController = 'Project\\Customer\\Front\\Controller\\Customer\\ReservationController' %}
{% set form = self.form %}
<main class="main lower-mypage">
    <div class="text-center">
        Mypage Top
    </div>

    {{self.containers.Authenticator.content | saferaw}}

</main>