<div id="alerttopleft" class="myadmin-alert alert-success myadmin-alert-top-left myadmin-alert-top-center toast-message">
    {{message}}
    <a href="#" class="closed">×</a>
</div>
<style nonce="{{ self.getSecureNonce() }}">
.myadmin-alert-top-center {
    left: 45vw;
}
</style>